<!DOCTYPE>
<html>
	<head>
		<title>Photogur Clone</title><br>
    <link rel="stylesheet" href="./custom.css" />
    <link href='http://fonts.googleapis.com/css?family=Quantico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<h1>Twizzy </h1><br>￼￼
	</head>
	<nav id="navbar">
<%= link_to "Upload a photo", "/pictures/new" %>
	</nav>

	<body>
		<div id="container">

		<class="Photos">
		<% @pictures.each do |picture| %>
		<p id="info"><%= picture[:title] %>, <%= picture[:artist] %></p>
	<div id:"pictures">
	<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
	</div>
<% end %>
</div>

<h6>
A collection inspired by the beatiful engineeering of the Twizzy.
</h6>
</body>

</html>