body {
	font-family: 'Quantico', sans-serif;
	background-color: #FDFDFD;
}

#container {
	width: 1000px;
	text-align: center;
	/*display: inline-block;*/
	margin: 0 auto;
}

h1 {
	color:white;
	background-color: navy;
	border: 5px black;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	font-family: 'Oleo Script', cursive;
	font-color: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;

}

#navbar {
	background-color: #A9A9A9;
		border: 5px black;
	text-align: center;
	margin: 0 auto;
	width: 1000px;
	font-family: 'Lato', sans-serif;
	font-color: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	}

img {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 3px 3px 3px black;
	-webkit-box-shadow: 3px 3px 3px black;
	box-shadow: 3px 3px 3px black;
	
	margin: 0 auto;
	border: 2px;
	padding: 2px;
	width: 85%;	
	transition: all 1s ease;

}

img:hover {
	-moz-transform: scale(1.175);
	-webkit-transform: scale(1.175);
	transform: scale(1.175);

#foot {
	color:white;
	background-color: navy;
	border: 5px black;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-color: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;

}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
